span {
    display: inline-block;
  }

  body {
    text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  span {
    display: inline-block;
  }
  